.sort {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px 73px;
  background-color: #d5f8cf;
  align-items: center;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 65px;
  h3 {
    color: #0ba42d;
    font-size: 24px;
    font-family: "Hammersmith One", sans-serif;
  }
  select {
    color: #0ba42d;
    font-size: 24px;
    font-family: "Hammersmith One", sans-serif;
    line-height: 30px;
    outline: none;
    border: none;
    background-color: inherit;

  }
}
.mains{
  margin: auto;
  max-width: 1290px;
  display: flex;
}
