.foter {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  .container {
    display: flex;
    align-items: start;
    padding-top: 77px;
    padding-inline: 40px;

    .logos {
      img {
        cursor: pointer;
      }
      display: flex;
      flex-direction: column;
      gap: 26px;
    }
    .servise {
      display: flex;
      gap: 120px;
      margin: auto;
      justify-content: space-between;
      ul {
        display: flex;
        margin: 0;
        flex-direction: column;
        h3 {
          color: white;
          margin: 0 0 15px 0;
          font-size: 24px;
          line-height: 29px;
          font-family: "Inter", sans-serif;
          font-weight: 700;
        }
        li {
          color: white;
          font-size: 16px;
          line-height: 20px;
          margin: 5px 0;
          font-family: "Inter", sans-serif;
          font-weight: 300;
        }
      }
    }
  }
  .links {
    padding-inline: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    img {
      cursor: pointer;
    }
  }
  .line {
    border: solid #ffffff 1px;
    margin-bottom: 30px;
  }
  .centers {
    padding-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      display: flex;
      align-items: center;
      gap: 16px;
      cursor: pointer;
    }
    img {
      cursor: pointer;
    }
    p {
      color: white;
      font-size: 18pxpx;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
